---
import { getCollection, render } from 'astro:content';
import Page from "../../layouts/page.astro";
import Navigation from "../../components/navigation.astro";
import Section from "../../components/section.astro";
import TextSection from "../../components/text-section.astro";

export async function getStaticPaths() {
    const posts = await getCollection('posts');
    return posts.map(post => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Navigation active="Blog" />

<Page>
    <Section>
        <TextSection>
            <h1>{post.data.title}</h1>
            <Content />
        </TextSection>
    </Section>
</Page>
