---
import Page from "../layouts/page.astro";
import Section from "../components/section.astro";
---

<style>
    .card {
        padding: 50px;
        margin: 20px;
        position: relative;
    }

    .card h1 {
        color: #000;
        font-family: "Playfair Display", serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .card h2 {
        color: #261515;
        font-family: "Playfair Display", serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .card p {
        color: #261515;
        font-family: "Playfair Display", serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
</style>

<Page>
    <Section>
        <div class="card">
            <h1>
                Lorem ipsum dolor sit amet
            </h1>
            <h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non dui libero. Vivamus pellentesque tempus dui quis interdum. In egestas, tortor sed congue suscipit, quam arcu eleifend purus, non placerat nulla purus interdum quam. In commodo eros id dignissim ultrices. In non ultrices urna. Quisque turpis justo, porttitor sed risus ac, suscipit venenatis arcu. Ut congue, est gravida consequat fermentum, odio magna imperdiet enim, sit amet ullamcorper dui tellus quis purus. Nam ut felis erat. Sed hendrerit nibh vel mi vestibulum molestie consectetur nec erat. Fusce convallis posuere condimentum. Aenean congue elementum risus. Nunc faucibus ligula nec sem laoreet, id sollicitudin sem scelerisque. Vivamus a nibh sed diam gravida tristique quis et dolor. Curabitur vehicula sollicitudin lectus a aliquam. Nunc faucibus odio elit, vel dapibus lacus sollicitudin vel.
            </h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non dui libero. Vivamus pellentesque tempus dui quis interdum. In egestas, tortor sed congue suscipit, quam arcu eleifend purus, non placerat nulla purus interdum quam. In commodo eros id dignissim ultrices. In non ultrices urna. Quisque turpis justo, porttitor sed risus ac, suscipit venenatis arcu. Ut congue, est gravida consequat fermentum, odio magna imperdiet enim, sit amet ullamcorper dui tellus quis purus. Nam ut felis erat. Sed hendrerit nibh vel mi vestibulum molestie consectetur nec erat. Fusce convallis posuere condimentum. Aenean congue elementum risus. Nunc faucibus ligula nec sem laoreet, id sollicitudin sem scelerisque. Vivamus a nibh sed diam gravida tristique quis et dolor. Curabitur vehicula sollicitudin lectus a aliquam. Nunc faucibus odio elit, vel dapibus lacus sollicitudin vel.
            </p>
        </div>
    </Section>
</Page>

