<!doctype html>
<html lang="en">
    <head>
        <title>"Website"</title>
        <link rel="stylesheet" href="src/pages/styles.css" />
    </head>
    <body>
        <header>
            <h1>Andrius Lima.</h1>
            <div class="menu">
                <a class="menu-active" href="#">Home</a>
                <a href="/about">About</a>
                <a href="/works">Works</a>
            </div>
        </header>

        <div class="main-section">
            <div class="hero-section">
                <div class="description">
                    <h1>Hey, I'm Andrius Lima.</h1>
                    <h1>A software engineer manager working at Community Archives.</h1>
                    <h2>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ligula nulla, varius in sem id,
                        iaculis accumsan orci.
                    </h2>
                    <div class="contact">
                        <a>Contact me</a>
                        <a>GitHub</a>
                        <a>Linkedin</a>
                        <a>Instagram</a>
                    </div>
                </div>
                <div class="photo"></div>
            </div>
        </div>
    </body>
</html>
