 ---
import Section from "../components/section.astro";
import Page from "../layouts/page.astro";


const profilePhoto = `url("/photo.jpeg");`

 ---
 <style define:vars={{ profilePhoto }}>
     .card {
         width: 500px;
         min-width: 500px;
         height: 700px;
         padding: 50px;
         margin: 20px;
         border-radius: 12px;
         //border: 1px solid #000;
         position: relative;
         box-shadow: 1px 2px 10px 2px #b1b1b1;
     }

     .card h1 {
         color: #000;
         font-family: "Playfair Display", serif;
         font-size: 40px;
         font-style: normal;
         font-weight: 500;
         line-height: normal;
     }

     .card h2 {
         color: #261515;
         font-family: "Playfair Display", serif;
         font-size: 30px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
     }

     .card h3 {
         color: #261515;
         font-family: "Playfair Display", serif;
         font-size: 20px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
     }

     .profile-photo {
         background: var(--profilePhoto) lightgray -257.05px 0 / 215.658% 100% no-repeat;
     }

 </style>

 <Page>
     <Section>
         <div class="card profile-photo"></div>
         <div class="card">
             <h1>Hey, I'm Andrius Lima.</h1>
             <h2>A software engineer manager working at Community Archives.</h2>
             <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ligula nulla, varius in sem id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ligula nulla, varius in sem id</h3>
         </div>
     </Section>
 </Page>

