 ---
import Section from "../components/section.astro";
import Page from "../layouts/page.astro";
import Navigation from "../components/navigation.astro";
import CardFixed from "../components/card-fixed.astro";
import CardPhoto from "../components/card-photo.astro";

const hours = new Date().getHours();
let timeOfDay;

if (hours >= 5 && hours < 12) {
    timeOfDay = "morning";
} else if (hours >= 12 && hours < 18) {
    timeOfDay = "afternoon";
} else {
    timeOfDay = "night";
}

 ---

 <Navigation active="Home"/>

 <Page>
     <Section>
         <CardPhoto />
         <CardFixed>
             <h1>Andrius Lima.</h1>
             <h4>Good {timeOfDay}, this is my personal website. Here you will information about me and my work</h4>
             <h4>I am currently working as a Software Engineer Manager at <a href="https://communityarchives.com" target="_blank">Community Archives</a>.</h4>
         </CardFixed>
     </Section>
 </Page>

