 ---
import Section from "../components/section.astro";
import Page from "../layouts/page.astro";
import Navigation from "../components/navigation.astro";

const hours = new Date().getHours();
let timeOfDay;

if (hours >= 5 && hours < 12) {
    timeOfDay = "morning";
} else if (hours >= 12 && hours < 18) {
    timeOfDay = "afternoon";
} else {
    timeOfDay = "night";
}

 ---

 <Navigation active="Home"/>

 <Page>
     <Section>
         <div class="card-fixed profile-photo"></div>
         <div class="card-fixed">
             <h1>Andrius Lima.</h1>
             <h3>Good {timeOfDay}, this is my personal website. Here you will information about me and my work</h3>
             <h3>I am currently working as a Software Engineer Manager at <a href="https://communityarchives.com" target="_blank">Community Archives</a>.</h3>
         </div>
     </Section>
 </Page>

