---
import Page from "../layouts/page.astro";
import Section from "../components/section.astro";
---

<style>
    .card {
        width: 400px;
        min-width: 350px;
        height: 600px;
        min-height: 550px;
        padding: 50px;
        margin: 20px;
        border-radius: 12px;
        //border: 1px solid #000;
        box-shadow: 1px 2px 10px 2px #b1b1b1;
    }

    .card h1 {
        color: #000;
        font-family: "Playfair Display", serif;
        font-size: 35px;
        font-style: italic;
        font-weight: 500;
        line-height: normal;
    }

    .card h2 {
        color: #261515;
        font-family: "Playfair Display", serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .card p {
        color: #261515;
        font-family: "Playfair Display", serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px
    }
</style>

<Page>
    <Section>
        <div class="card">
            <h1> Company 01 </h1>
            <h2> 12/12/1970 - 12/12/1970 </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non dui libero. Vivamus pellentesque tempus dui quis interdum. In egestas, tortor sed congue suscipit, quam arcu eleifend purus, non placerat nulla purus interdum quam. In commodo eros id dignissim ultrices. In non ultrices urna. Quisque turpis justo, porttitor sed risus ac, suscipit venenatis arcu. Ut congue, est gravida consequat fermentum, odio magna imperdiet enim, sit amet ullamcorper dui tellus quis purus. Nam ut felis erat. Sed hendrerit nibh vel mi vestibulum molestie consectetur nec erat. Fusce convallis posuere condimentum. Aenean congue elementum risus. Nunc faucibus ligula nec sem laoreet, id sollicitudin sem scelerisque. Vivamus a nibh sed diam gravida tristique quis et dolor. Curabitur vehicula sollicitudin lectus a aliquam. Nunc faucibus odio elit, vel dapibus lacus sollicitudin vel.
            </p>
        </div>
        <div class="card">
            <h1> Company 02 </h1>
            <h2> 12/12/1970 - 12/12/1970 </h2>
            <p>
                Donec imperdiet molestie risus, ac faucibus sem laoreet at. Proin lacinia venenatis metus id mollis. Etiam fringilla maximus arcu. Vivamus eu tincidunt mi. Pellentesque egestas dolor sit amet lacus dictum, ullamcorper luctus ante feugiat. Quisque quis justo in tellus tincidunt accumsan. Pellentesque a tincidunt dolor. Mauris pulvinar, velit quis fermentum posuere, metus diam congue elit, a lobortis turpis felis vitae lectus. Praesent interdum eget erat in pharetra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc mi metus, aliquam ut sodales sed, viverra sit amet magna. Pellentesque fringilla sapien felis, sed efficitur nunc imperdiet vitae.
            </p>
        </div>
        <div class="card">
            <h1> Company 04 </h1>
            <h2> 12/12/1970 - 12/12/1970 </h2>
            <p>
                Donec in convallis est, et placerat risus. Aenean erat risus, ornare vitae massa vitae, cursus viverra metus. Nulla nec sem nisl. Aenean nec faucibus massa, et feugiat orci. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas a felis vel nibh ornare sollicitudin. Donec laoreet tincidunt felis. Maecenas tellus erat, vulputate sed tempus eget, ultricies vitae odio. Sed elit metus, aliquam non leo non, auctor venenatis dolor. Nunc et viverra leo, in auctor mauris.
            </p>
        </div>
        <div class="card">
            <h1> Company 03 </h1>
            <h2> 12/12/1970 - 12/12/1970 </h2>
            <p>
                Donec dolor nunc, tempor in ex a, egestas fringilla purus. Nulla varius sapien id libero vestibulum ullamcorper. Curabitur ut interdum neque. Praesent efficitur tellus sit amet ullamcorper blandit. Curabitur sed commodo enim, at sagittis sem. Nam eu enim pretium, bibendum felis ac, scelerisque est. Aliquam id ex at elit convallis scelerisque. Aliquam fermentum at felis a ornare. Vivamus sit amet dapibus eros. Phasellus ut quam euismod, accumsan risus sit amet, pretium odio. Ut semper blandit aliquam. Duis at euismod nisl, et accumsan augue. Morbi cursus sapien eget nibh malesuada, ut finibus mi mattis. Aenean consectetur lorem risus. Morbi consectetur, urna tristique laoreet euismod, dolor justo euismod mauris, a sodales mi felis ut elit. Etiam eu tortor mattis, elementum dui vel, euismod est.
            </p>
        </div>
    </Section>
</Page>

