---
import Page from "../layouts/page.astro";
import Section from "../components/section.astro";
import Navigation from "../components/navigation.astro";

const duration = (from: Date, to: Date) => {
    let years = to.getFullYear() - from.getFullYear();
    let months = to.getMonth() - from.getMonth();

    if (months < 0) {
        years--;
        months += 12;
    }

    if (years == 0) {
        return `${months} months`;
    }

    if (months == 0) {
        return `${years} years`;
    }

    return `${years} years and ${months} months`;
}

---

<Navigation active="Works"/>

<Page>
    <Section>
        <div class="card-dynamic">
            <h1> HOAM Ventures </h1>
            <h3> July 2022 - Present ({duration(new Date(2022, 7), new Date())}) </h3>
            <p>
                <strong>Position</strong>: Engineer Manager.
            </p>
            <p>
                <strong>Highlights</strong>: Scrum methodology, Continuous Integration and Continuous Delivery.
            </p>
            <p>
                As an Engineering Manager at Community Archives since 2022, I have been leading a diverse team of software developers in delivering high-quality, innovative solutions that meet our clients' needs. My role involves overseeing all aspects of the software development lifecycle, from initial planning and requirements gathering to development, testing, and deployment. I work closely with cross-functional teams, including product management and design, to ensure that projects are delivered on time and within scope. In addition, I am also focused on team development and growth. I mentor and coach team members, helping them set and achieve professional goals, and providing regular feedback to support their career progression. I am committed to creating a collaborative and inclusive work environment where everyone feels empowered to contribute their best ideas.
            </p>
        </div>
        <div class="card-dynamic">
            <h1> TownSq </h1>
            <h3> July 2019 - July 2022 ({duration(new Date(2019, 7), new Date(2022, 7))}) </h3>
            <p>
                <strong>Position</strong>: Back-end Developer.
            </p>
            <p>
                <strong>Highlights</strong>: Java, Sprint Boot, Spring Framework, AWS (Lambdas, SQS, SNS, SES, and ElasticbeanStalk, Firebase).
            </p>
            <p>
                During my time as a Back-end developer at TownSq, I specialized in designing, developing, and maintaining scalable microservices applications. My role involved writing clean, efficient, and well-documented code, primarily in languages such as Java and Node.js (Typescript). I collaborated closely with front-end developers, product managers, and other stakeholders to understand requirements and translate them into software solutions. I was responsible for managing databases, optimizing queries, and ensuring data integrity, working with NoSQL databases (MongoDB). My work also included implementing authentication and authorization mechanisms, integrating third-party services/vendors, and deploying applications to cloud environments on AWS.
            </p>
        </div>
        <div class="card-dynamic">
            <h1> Neogrid </h1>
            <h3> January 2019 - July 2019 ({duration(new Date(2019, 1), new Date(2019, 7))}) </h3>
            <p>
                <strong>Position</strong>: Back-end Developer.
            </p>
            <p>
                <strong>Highlights</strong>: Java EE (Oracle Weblogic servers, EJB, JSF, JPA and JBoss).
            </p>
            <p>
                As a java Back-end developer, I worked on Neogrid software architecture. Developing Java applications using Java EE deployed with Oracle Weblogic Servers.
            </p>
        </div>
        <div class="card-dynamic">
            <h1> Neogrid </h1>
            <h3> December 2016 - December 2018 ({duration(new Date(2016, 12), new Date(2018, 12))})</h3>
            <p>
                <strong>Position</strong>: Intern.
            </p>
            <p>
                <strong>Highlights</strong>: Linux management, Virtualization with VMWare.
            </p>
            <p>
                During my internship I helped the Infrasturcure team at Neogrid to maintain and modernize the infrastructure architecture. With VMWare we managed our cluster providing Virtual Machines where the development team could run the application.
            </p>
        </div>
    </Section>
</Page>

