---
---

<style>
    .card-photo {
        width: 500px;
        min-width: 500px;
        height: 700px;
        padding: 50px;
        margin: 20px;
        border-radius: 12px;
        position: relative;
        box-shadow: 1px 2px 10px 2px #b1b1b1;

        background-image: url("/photo.jpeg");
        background-size: 215.658% 100%;
        background-repeat: no-repeat;
        background-position: -257.05px 0;
        background-color: lightgray;
    }
</style>

<div class="card-photo">
    <slot />
</div>