---
---

<style>
    div {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        padding: 20px;
        margin: 0 10px;
    }
</style>

<div class="card-section">
    <slot />
</div>