---
---

<style>
    .card-dynamic {
        width: 550px;
        min-width: 250px;
        padding: 20px 40px;
        margin: 20px 20px;
        border-radius: 12px;
        box-shadow: 1px 2px 10px 2px #b1b1b1;
    }
    @media only screen and (max-width: 600px) {
        .card-dynamic {
            padding: 10px 20px;
            margin: 10px 10px;
        }
    }
</style>

<div class="card-dynamic">
    <slot />
</div>