---
interface Props {
    active?: string;
}

let { active } = Astro.props;

if (!active) {
   active = "Home"
}

const menus = [
    {
        name: "Home",
        url: "/"
    },
    {
        name: "About",
        url: "/about"
    },
    {
        name: "Blog",
        url: "/blog"
    }
];
---

<header>
    <h3><a href="/" style="color: unset">Andrius Lima.</a></h3>
    <div class="menu">
        {
            menus.map((menu) => {
                if (menu.name.toLowerCase() == active.toLowerCase()) {
                    return <h3><a class="active" href={menu.url}>{menu.name}</a></h3>;
                } else {
                    return <h3><a href={menu.url}>{menu.name}</a></h3>;
                }

            })
        }
    </div>
</header>