---
---

<style>
    div {
        display: flex;
        flex-flow: wrap;
        padding: 50px 50px 150px;
        justify-content: center;
        align-items: center;
        max-width: 1500px;
        margin: auto;
    }
</style>

<div class="section">
    <slot />
</div>