---
import "@/styles/global.css";
import '@fontsource/playfair-display/400.css';
import '@fontsource/playfair-display/500.css';
import '@fontsource/playfair-display/400-italic.css';
import Footer from "@/components/Footer.astro";
import {AstroSeo} from "@astrolib/seo";
---

<html lang="en" class="selection:bg-[oklch(0.85_0.04_268.34)] selection:text-black">
<head>
    <title>Andrius Lima</title>
    <AstroSeo
            title="Andrius Lima Personal Website"
            description="Andrius Lima personal webstie containing information about work and education"
            canonical="https://www.andriuslima.com"
            openGraph={{
                url: "https://www.andriuslima.com",
                title: "Andrius Lima Personal Website",
                description: "Andrius Lima personal webstie containing information about work and education",
                site_name: "Andrius Lima",
                type: "website",
                locale: "en_US",
            }}
    />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow"/>
    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow"/>

    <!--<link rel="icon" href="/favicon.ico" sizes="any"/>-->
    <!--<link rel="icon" href="/icon.svg" type="image/svg+xml"/>-->
    <!--<link rel="apple-touch-icon" href="/apple-touch-icon.png"/>-->
    <!--<link rel="manifest" href="/manifest.webmanifest"/>-->
    <!--<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>-->
    <!--<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>-->
    <!--<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>-->
    <!--<link rel="icon" type="image/png" sizes="48x48" href="/favicon-48x48.png"/>-->
    <!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>-->
</head>
<body class="bg-white flex flex-col h-svh">
<main class="grow">
    <slot/>
</main>
<Footer/>
</body>
</html>
