---
import Footer from "../components/footer.astro";
import { ClientRouter } from "astro:transitions";
---

<html lang="en">
    <head>
        <title>Andrius Lima</title>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="/styles/style.css" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} >
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="Andrius Lima"
            href={new URL("rss.xml", Astro.site)}
        />
        <ClientRouter />
    </head>

    <body>
        <script>
            let copyButtonLabel = "Copy";
            let codeBlocks = Array.from(document.querySelectorAll("pre"));

            for (let codeBlock of codeBlocks) {
                let wrapper = document.createElement("div");
                wrapper.style.position = "relative";

                let copyButton = document.createElement("button");
                copyButton.className = "copy-code";
                copyButton.innerHTML = copyButtonLabel;

                codeBlock.setAttribute("tabindex", "0");
                codeBlock.appendChild(copyButton);
                codeBlock?.parentNode?.insertBefore(wrapper, codeBlock);
                wrapper.appendChild(codeBlock);

                copyButton.addEventListener("click", async () => {
                    await copyCode(codeBlock, copyButton);
                });
            }

            async function copyCode(block: HTMLPreElement, button: HTMLButtonElement) {
                let code = block.querySelector("code");
                if (!code) {
                    console.error("Could not copy");
                    return;
                }

                let text = code.innerText;

                await navigator.clipboard.writeText(text);

                button.innerText = "Copied";

                setTimeout(() => {
                    button.innerText = copyButtonLabel;
                }, 700);
            }
        </script>

        <slot />

        <!--<Footer email="hello@andriuslima.com"/>-->

        <!-- Cloudflare Web Analytics -->
        <script is:inline defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "5911fe4d731149f180d96ec86904ce8b"}'></script>
        <!-- End Cloudflare Web Analytics -->
    </body>
</html>
