---
import Page from "./page.astro";
import Navigation from "../components/navigation.astro";
import Section from "../components/section.astro";
import TextSection from "../components/text-section.astro";
---

<Navigation active="Blog" />

<Page>
    <Section>
        <TextSection>
            <slot />
        </TextSection>
    </Section>
</Page>